Repository cysp/terraform-provider-censusworkspace: changes, and which Codecov flags are due for each by the changed paths.
All: census-management-go, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: census-management-go
      name: census-management-go
      paths:
        - internal/census-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - "main.go"
  - "internal/census-management-go/*_gen.go"

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

docs(resources/custom_api_destination): add missing documentation
  docs/resources/custom_api_destination.md
  examples/resources/censusworkspace_custom_api_destination/import.sh
  examples/resources/censusworkspace_custom_api_destination/resource.tf
Due: none

fix(provider/custom_api_destination): handle null properties within connection details
  internal/provider/custom_api_destination_connection_details_response.go
  internal/provider/custom_api_destination_connection_details_response_test.go
  internal/provider/custom_api_destination_model_response.go
  internal/provider/jx.go
Due: provider

fix(provider/big_query_source): handle null properties within connection details
  internal/provider/big_query_source_connection_details_response.go
  internal/provider/big_query_source_connection_details_response_test.go
Due: provider

feat(provider/custom_api_destination): update credentials with returned connection details
  internal/provider/custom_api_destination_credentials.go
  internal/provider/custom_api_destination_model.go
  internal/provider/custom_api_destination_resource.go
  internal/provider/custom_api_destination_resource_schema.go
  internal/provider/destination_resource.go
Due: provider

feat(provider/big_query_source): update credentials with returned connection details
  internal/provider/big_query_source_credentials.go
  internal/provider/big_query_source_model.go
  internal/provider/big_query_source_resource.go
Due: provider

feat(provider): introduce big_query destination resource
  docs/resources/big_query_destination.md
  examples/resources/censusworkspace_big_query_destination/import.sh
  examples/resources/censusworkspace_big_query_destination/resource.tf
  internal/provider/big_query_destination_connection_details_response.go
  internal/provider/big_query_destination_connection_details_response_test.go
  internal/provider/big_query_destination_credentials.go
  internal/provider/big_query_destination_model.go
  internal/provider/big_query_destination_model_request.go
  internal/provider/big_query_destination_model_response.go
  internal/provider/big_query_destination_resource.go
  internal/provider/big_query_destination_resource_schema.go
  internal/provider/big_query_destination_resource_test.go
  internal/provider/custom_api_destination_resource_test.go
  internal/provider/destination_resource.go
  internal/provider/provider.go
  internal/provider/testdata/TestAccBigQueryDestinationResourceCreateUpdateDelete/main.tf
  internal/provider/testdata/TestAccBigQueryDestinationResourceCreateUpdateDelete/vars.tf
  internal/provider/testdata/TestAccBigQueryDestinationResourceImport/main.tf
  internal/provider/testdata/TestAccBigQueryDestinationResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccBigQueryDestinationResourceMovedFromDestination/1/main.tf
  internal/provider/testdata/TestAccBigQueryDestinationResourceMovedFromDestination/1/vars.tf
  internal/provider/testdata/TestAccBigQueryDestinationResourceMovedFromDestination/2/main.tf
  internal/provider/testdata/TestAccBigQueryDestinationResourceMovedFromDestination/2/vars.tf
Due: provider

fix(provider/big_query_source): respect sync engine in responses
  internal/provider/big_query_source_model_response.go
Due: provider

feat(provider): introduce braze destination resource
  internal/provider/braze_destination_connection_details_response.go
  internal/provider/braze_destination_connection_details_response_test.go
  internal/provider/braze_destination_credentials.go
  internal/provider/braze_destination_model.go
  internal/provider/braze_destination_model_request.go
  internal/provider/braze_destination_model_response.go
  internal/provider/braze_destination_resource.go
  internal/provider/braze_destination_resource_schema.go
  internal/provider/braze_destination_resource_test.go
  internal/provider/custom_api_destination_resource.go
  internal/provider/destination_resource.go
  internal/provider/provider.go
  internal/provider/testdata/TestAccBrazeDestinationResourceCreateUpdateDelete/main.tf
  internal/provider/testdata/TestAccBrazeDestinationResourceCreateUpdateDelete/vars.tf
  internal/provider/testdata/TestAccBrazeDestinationResourceImport/main.tf
  internal/provider/testdata/TestAccBrazeDestinationResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccBrazeDestinationResourceMovedFromDestination/1/main.tf
  internal/provider/testdata/TestAccBrazeDestinationResourceMovedFromDestination/1/vars.tf
  internal/provider/testdata/TestAccBrazeDestinationResourceMovedFromDestination/2/main.tf
  internal/provider/testdata/TestAccBrazeDestinationResourceMovedFromDestination/2/vars.tf
Due: provider

test(provider/jx_decode): cover value decoding utilities
  internal/provider/jx.go
  internal/provider/jx_decode_bool.go
  internal/provider/jx_decode_bool_test.go
  internal/provider/jx_decode_int64.go
  internal/provider/jx_decode_int64_test.go
  internal/provider/jx_decode_string.go
  internal/provider/jx_decode_string_test.go
Due: provider

fix(provider/big_query_source): manage sync engine type during creation
  internal/provider/big_query_source_model_request.go
Due: provider

feat(provider/big_query_source): use correct inline structure for service account keys
  docs/resources/big_query_source.md
  internal/provider/big_query_source_model.go
  internal/provider/big_query_source_model_request.go
  internal/provider/big_query_source_resource.go
  internal/provider/big_query_source_resource_schema.go
  internal/provider/big_query_source_resource_test.go
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSourceWithServiceAccountKey/1/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSourceWithServiceAccountKey/1/vars.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSourceWithServiceAccountKey/2/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSourceWithServiceAccountKey/2/vars.tf
Due: provider

docs(resource/braze_destination): add missing documentation
  docs/resources/braze_destination.md
Due: none

fix(census-management-go): allow sql dataset descriptions to be null in responses
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/openapi.yml
Due: census-management-go

feat(provider/sql_dataset): allow removing description
  internal/provider/sql_dataset_model_request.go
Due: provider

fix(provider/big_query_source): include type field in service account key object value
  docs/resources/big_query_source.md
  go.mod
  go.sum
  internal/provider/big_query_source_model.go
  internal/provider/big_query_source_model_request.go
  internal/provider/big_query_source_resource.go
  internal/provider/big_query_source_resource_schema.go
  internal/provider/big_query_source_resource_test.go
Due: provider
