Repository cysp/terraform-provider-censusworkspace: changes, and which Codecov flags are due for each by the changed paths.
All: census-management-go, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: census-management-go
      name: census-management-go
      paths:
        - internal/census-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - "main.go"
  - "internal/census-management-go/*_gen.go"

chore(github/workflows): pin actions to release commits
  .github/workflows/go-dependency-submission.yml
  .github/workflows/go-generate.yml
  .github/workflows/golangci.yml
  .github/workflows/test.yml
  .github/workflows/update-indirect-dependencies.yml
Due: none

chore: configure goreleaser
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

style(provider/source): align constructor name with type name
  internal/provider/source_model_response.go
  internal/provider/source_resource.go
Due: provider

feat(provider/source): manage source sync engines
  docs/resources/source.md
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/openapi.yml
  internal/census-management-go/testing/source.go
  internal/provider/source_model.go
  internal/provider/source_model_request.go
  internal/provider/source_model_response.go
  internal/provider/source_resource.go
  internal/provider/source_resource_schema.go
  internal/provider/source_resource_test.go
  internal/provider/testdata/TestAccSourceResourceSyncEngineAppearing/main.tf
Due: census-management-go, provider

docs(resources/source): provide sync engine argument in example
  docs/resources/source.md
  examples/resources/censusworkspace_source/resource.tf
Due: none

docs(resources/source): document resource attributes
  docs/resources/source.md
  internal/provider/source_resource_schema.go
Due: provider

bigquery source
  docs/resources/bigquery_source.md
  internal/provider/attr_types.go
  internal/provider/attr_values.go
  internal/provider/attr_values_test.go
  internal/provider/attrs.go
  internal/provider/bigquery_source_connection_details.go
  internal/provider/bigquery_source_connection_details_response.go
  internal/provider/bigquery_source_connection_details_schema.go
  internal/provider/bigquery_source_connection_details_test.go
  internal/provider/bigquery_source_connection_details_type.go
  internal/provider/bigquery_source_connection_details_type_test.go
  internal/provider/bigquery_source_model.go
  internal/provider/bigquery_source_model_request.go
  internal/provider/bigquery_source_model_response.go
  internal/provider/bigquery_source_resource.go
  internal/provider/bigquery_source_resource_schema.go
  internal/provider/error_diags.go
  internal/provider/provider.go
  internal/provider/schema.go
  internal/provider/source_model.go
  internal/provider/source_model_response.go
  internal/provider/typed_map.go
  internal/provider/typed_map_test.go
  internal/provider/typed_map_type.go
  internal/terraform-plugin-framework-reflection/attr_value.go
  internal/terraform-plugin-framework-reflection/set_attributes_in_value.go
  internal/terraform-plugin-framework-reflection/test_invalid_value_test.go
  internal/terraform-plugin-framework-reflection/test_value_test.go
  internal/terraform-plugin-framework-reflection/unexpected_value_state_error.go
  internal/terraform-plugin-framework-reflection/value_attributes_equal.go
  internal/terraform-plugin-framework-reflection/value_to_object_value.go
  internal/terraform-plugin-framework-reflection/value_to_terraform_value.go
  internal/terraform-plugin-framework-reflection/value_to_terraform_value_test.go
  internal/terraform-plugin-framework-reflection/values_equal.go
Due: provider, terraform-plugin-framework-reflection

feat(census-management-go): introduce source models
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_handlers_gen.go
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_operations_gen.go
  internal/census-management-go/oas_parameters_gen.go
  internal/census-management-go/oas_request_decoders_gen.go
  internal/census-management-go/oas_request_encoders_gen.go
  internal/census-management-go/oas_response_decoders_gen.go
  internal/census-management-go/oas_response_encoders_gen.go
  internal/census-management-go/oas_router_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/oas_security_gen.go
  internal/census-management-go/oas_server_gen.go
  internal/census-management-go/oas_validators_gen.go
  internal/census-management-go/openapi.yml
  internal/census-management-go/testing/handler.go
  internal/census-management-go/testing/handler_source_model.go
  internal/census-management-go/testing/multilevel_map.go
  internal/census-management-go/testing/sourcemodel.go
  internal/provider/sourcemodel_model.go
  internal/provider/sourcemodel_resource_schema.go
Due: census-management-go, provider

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

fix(census-management-go): use patch verb when updating sources
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_handlers_gen.go
  internal/census-management-go/oas_router_gen.go
  internal/census-management-go/oas_server_gen.go
  internal/census-management-go/openapi.yml
Due: census-management-go

feat(provider): introduce destination resource
  docs/resources/destination.md
  examples/resources/censusworkspace_destination/import.sh
  examples/resources/censusworkspace_destination/resource.tf
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_handlers_gen.go
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_operations_gen.go
  internal/census-management-go/oas_parameters_gen.go
  internal/census-management-go/oas_request_decoders_gen.go
  internal/census-management-go/oas_request_encoders_gen.go
  internal/census-management-go/oas_response_decoders_gen.go
  internal/census-management-go/oas_response_encoders_gen.go
  internal/census-management-go/oas_router_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/oas_security_gen.go
  internal/census-management-go/oas_server_gen.go
  internal/census-management-go/oas_validators_gen.go
  internal/census-management-go/openapi.yml
  internal/census-management-go/testing/destination.go
  internal/census-management-go/testing/handler.go
  internal/census-management-go/testing/handler_destination.go
  internal/census-management-go/testing/handler_source.go
  internal/provider/destination_model.go
  internal/provider/destination_model_request.go
  internal/provider/destination_model_response.go
  internal/provider/destination_resource.go
  internal/provider/destination_resource_schema.go
  internal/provider/destination_resource_test.go
  internal/provider/provider.go
  internal/provider/source_resource.go
  internal/provider/testdata/TestAccDestinationResourceCreateUpdateDelete/main.tf
  internal/provider/testdata/TestAccDestinationResourceCreateUpdateDelete/vars.tf
  internal/provider/testdata/TestAccDestinationResourceImport/main.tf
  internal/provider/testdata/TestAccDestinationResourceImportNotFound/main.tf
Due: census-management-go, provider

feat(provider): introduce sql dataset resource
  .golangci.yml
  docs/resources/sql_dataset.md
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_handlers_gen.go
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_operations_gen.go
  internal/census-management-go/oas_parameters_gen.go
  internal/census-management-go/oas_request_decoders_gen.go
  internal/census-management-go/oas_request_encoders_gen.go
  internal/census-management-go/oas_response_decoders_gen.go
  internal/census-management-go/oas_response_encoders_gen.go
  internal/census-management-go/oas_router_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/oas_security_gen.go
  internal/census-management-go/oas_server_gen.go
  internal/census-management-go/oas_validators_gen.go
  internal/census-management-go/openapi.yml
  internal/census-management-go/testing/dataset.go
  internal/census-management-go/testing/handler.go
  internal/census-management-go/testing/handler_dataset.go
  internal/provider/provider.go
  internal/provider/sql_dataset_model.go
  internal/provider/sql_dataset_model_request.go
  internal/provider/sql_dataset_model_response.go
  internal/provider/sql_dataset_resource.go
  internal/provider/sql_dataset_resource_schema.go
  internal/provider/sql_dataset_resource_test.go
  internal/provider/testdata/TestAccSQLDatasetResourceCreateUpdateDelete/main.tf
  internal/provider/testdata/TestAccSQLDatasetResourceCreateUpdateDelete/vars.tf
  internal/provider/testdata/TestAccSQLDatasetResourceImport/main.tf
  internal/provider/testdata/TestAccSQLDatasetResourceImport/vars.tf
  internal/provider/testdata/TestAccSQLDatasetResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccSQLDatasetResourceImportNotFound/vars.tf
Due: census-management-go, provider

test(provider): dot import provider in provider tests
  .golangci.yml
  internal/provider/provider_test.go
  internal/provider/provider_testing_test.go
  internal/provider/set_provider_data_test.go
Due: provider

feat(provider): introduce generic typed model object
  .golangci.yml
  internal/provider/error_diags.go
  internal/provider/typed_object.go
  internal/provider/typed_object_test.go
  internal/provider/typed_object_type.go
  internal/terraform-plugin-framework-reflection/attribute_types.go
  internal/terraform-plugin-framework-reflection/attribute_values.go
  internal/terraform-plugin-framework-reflection/set_attribute_values.go
Due: provider, terraform-plugin-framework-reflection

feat(provider): introduce generic typed model object
  internal/provider/error_diags.go
  internal/provider/typed_object.go
  internal/provider/typed_object_test.go
  internal/provider/typed_object_type.go
  internal/terraform-plugin-framework-reflection/attribute_types.go
  internal/terraform-plugin-framework-reflection/attribute_values.go
  internal/terraform-plugin-framework-reflection/set_attribute_values.go
Due: provider, terraform-plugin-framework-reflection

ref(provider/source): extract base source model and schema
  internal/provider/source_base.go
  internal/provider/source_model.go
  internal/provider/source_model_response.go
  internal/provider/source_resource_schema.go
Due: provider

feat(provider): introduce big_query_source resource
  .golangci.yml
  docs/resources/big_query_source.md
  examples/resources/censusworkspace_big_query_source/import.sh
  examples/resources/censusworkspace_big_query_source/resource.tf
  internal/provider/big_query_source_connection_details_response.go
  internal/provider/big_query_source_model.go
  internal/provider/big_query_source_model_request.go
  internal/provider/big_query_source_model_response.go
  internal/provider/big_query_source_resource.go
  internal/provider/big_query_source_resource_schema.go
  internal/provider/big_query_source_resource_test.go
  internal/provider/provider.go
  internal/provider/testdata/TestAccBigQuerySourceResourceCreateUpdateDelete/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceCreateUpdateDelete/vars.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceImport/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSource/1/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSource/1/vars.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSource/2/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSource/2/vars.tf
Due: provider

ref(provider/destination): extract base destination model and schema
  internal/provider/destination_base.go
  internal/provider/destination_model.go
  internal/provider/destination_model_response.go
  internal/provider/destination_resource_schema.go
Due: provider

style(provider/big_query_source): adopt jx encoder style
  internal/provider/big_query_source_model_request.go
Due: provider

feat(provider): introduce custom_api destination resource
  internal/provider/custom_api_destination_connection_details_response.go
  internal/provider/custom_api_destination_model.go
  internal/provider/custom_api_destination_model_request.go
  internal/provider/custom_api_destination_model_response.go
  internal/provider/custom_api_destination_resource.go
  internal/provider/custom_api_destination_resource_schema.go
  internal/provider/custom_api_destination_resource_test.go
  internal/provider/destination_resource.go
  internal/provider/provider.go
  internal/provider/testdata/TestAccCustomAPIDestinationResourceCreateUpdateDelete/main.tf
  internal/provider/testdata/TestAccCustomAPIDestinationResourceCreateUpdateDelete/vars.tf
  internal/provider/testdata/TestAccCustomAPIDestinationResourceImport/main.tf
  internal/provider/testdata/TestAccCustomAPIDestinationResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccCustomAPIDestinationResourceMovedFromDestination/1/main.tf
  internal/provider/testdata/TestAccCustomAPIDestinationResourceMovedFromDestination/1/vars.tf
  internal/provider/testdata/TestAccCustomAPIDestinationResourceMovedFromDestination/2/main.tf
  internal/provider/testdata/TestAccCustomAPIDestinationResourceMovedFromDestination/2/vars.tf
  internal/provider/testdata/TestAccCustomAPIDestinationResourceMovedFromDestinationWithCustomHeaders/1/main.tf
  internal/provider/testdata/TestAccCustomAPIDestinationResourceMovedFromDestinationWithCustomHeaders/1/vars.tf
  internal/provider/testdata/TestAccCustomAPIDestinationResourceMovedFromDestinationWithCustomHeaders/2/main.tf
  internal/provider/testdata/TestAccCustomAPIDestinationResourceMovedFromDestinationWithCustomHeaders/2/vars.tf
  internal/provider/typed_map.go
  internal/provider/typed_map_test.go
  internal/provider/typed_map_type.go
Due: provider

fix(provider): preserve planned credentials for sources and destinations
  internal/provider/big_query_source_resource.go
  internal/provider/destination_resource.go
  internal/provider/source_resource.go
Due: provider
