Repository cysp/terraform-provider-censusworkspace: changes, and which Codecov flags are due for each by the changed paths.
All: census-management-go, provider, terraform-plugin-framework-reflection

hack
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_parameters_gen.go
  internal/census-management-go/ogen_nil_string.go
  internal/census-management-go/openapi.yml
  internal/census-management-go/testing/error.go
  internal/census-management-go/testing/handler.go
  internal/census-management-go/testing/handler_source.go
  internal/census-management-go/testing/main/main.go
  internal/census-management-go/testing/security_handler.go
  internal/census-management-go/testing/server.go
  internal/census-management-go/testing/source.go
  internal/census-management-go/testserver/handler.go
  internal/census-management-go/testserver/handler_source.go
  internal/census-management-go/testserver/security.go
  internal/census-management-go/testserver/testserver.go
  internal/provider/census_provider.go
  internal/provider/census_provider_test.go
  internal/provider/census_provider_testing_test.go
  internal/provider/private_provider_data.go
  internal/provider/private_provider_data_test.go
  internal/provider/resource_source.go
  internal/provider/resource_source_schema.go
  internal/provider/source_model.go
  internal/provider/source_model_request.go
  internal/provider/source_model_response.go
  internal/provider/testdata/TestAccSourceResourceCreateUpdateDelete/1/main.tf
  internal/provider/testdata/TestAccSourceResourceCreateUpdateDelete/2/main.tf
  internal/provider/testdata/TestAccSourceResourceImport/main.tf
  internal/provider/testdata/TestAccSourceResourceImportNotFound/main.tf
Due: census-management-go, provider

hack
  docs/index.md
  docs/resources/source.md
  go.mod
  go.sum
  internal/provider/census_provider_test.go
Due: provider

hack
  internal/census-management-go/testing/server/main.go
  internal/provider/census_provider.go
  internal/provider/resource_source_schema.go
Due: census-management-go, provider

hack
  internal/census-management-go/testing/handler.go
  internal/census-management-go/testing/security_handler.go
  internal/census-management-go/testing/server.go
  internal/provider/census_provider_testing_test.go
Due: census-management-go, provider

.
  internal/census-management-go/testing/main/main.go
  internal/census-management-go/testing/server.go
  internal/provider/census_provider.go
  internal/provider/census_provider_test.go
Due: census-management-go, provider

hack
  codecov.yml
  internal/terraform-plugin-framework-typed/diags_must_test.go
  internal/terraform-plugin-framework-typed/error_diags.go
  internal/terraform-plugin-framework-typed/typed_list.go
  internal/terraform-plugin-framework-typed/typed_list_string.go
  internal/terraform-plugin-framework-typed/typed_list_type.go
  internal/terraform-plugin-framework-typed/typed_list_type_test.go
  internal/terraform-plugin-framework-typed/typed_map.go
  internal/terraform-plugin-framework-typed/typed_map_test.go
  internal/terraform-plugin-framework-typed/typed_map_type.go
Due: none

hack
  internal/provider/source_model.go
  internal/provider/source_resource.go
  internal/provider/source_resource_schema.go
  internal/terraform-plugin-framework-typed/typed_list_type_test.go
  internal/terraform-plugin-framework-typed/typed_map_test.go
Due: provider

hack
  docs/index.md
  docs/resources/source.md
  internal/provider/census_provider.go
  internal/provider/census_provider_data.go
  internal/provider/census_provider_test.go
  internal/provider/provider.go
  internal/provider/provider_data.go
  internal/provider/provider_data_test.go
  internal/provider/provider_testing_test.go
  internal/provider/source_resource.go
Due: provider

hack
  internal/provider/source_resource.go
  internal/provider/util/jx.go
  internal/provider/util/jx_test.go
Due: provider

hack
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/openapi.yml
  internal/provider/source_model.go
  internal/provider/source_model_response.go
Due: census-management-go, provider

hack
  internal/provider/provider_testing_test.go
  internal/provider/source_resource_test.go
Due: provider

hack
  internal/provider/source_resource_test.go
Due: provider

hack
  go.mod
Due: none

feat(census-management-go): introduce root api route
  go.mod
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_handlers_gen.go
  internal/census-management-go/oas_interfaces_gen.go
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_operations_gen.go
  internal/census-management-go/oas_response_decoders_gen.go
  internal/census-management-go/oas_response_encoders_gen.go
  internal/census-management-go/oas_router_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/oas_security_gen.go
  internal/census-management-go/oas_server_gen.go
  internal/census-management-go/oas_validators_gen.go
  internal/census-management-go/openapi.yml
  internal/census-management-go/testing/error.go
  internal/census-management-go/testing/handler_api_v1.go
  internal/census-management-go/testing/handler_error.go
  internal/census-management-go/testing/security_handler.go
  internal/census-management-go/testing/server.go
  internal/census-management-go/testing/server_test.go
  internal/census-management-go/workspace_api_key_security_source.go
  internal/provider/provider.go
Due: census-management-go, provider

fix(census-management-go): correct 404 status response shape
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/oas_validators_gen.go
  internal/census-management-go/openapi.yml
  internal/census-management-go/testing/error.go
  internal/census-management-go/testing/handler_error.go
Due: census-management-go

feat(census-management-go): recognise deleted status
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/oas_validators_gen.go
  internal/census-management-go/openapi.yml
Due: census-management-go

feat(provider): introduce source resource
  .github/workflows/test.yml
  docs/resources/source.md
  go.mod
  go.sum
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_handlers_gen.go
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_operations_gen.go
  internal/census-management-go/oas_parameters_gen.go
  internal/census-management-go/oas_request_decoders_gen.go
  internal/census-management-go/oas_request_encoders_gen.go
  internal/census-management-go/oas_response_decoders_gen.go
  internal/census-management-go/oas_response_encoders_gen.go
  internal/census-management-go/oas_router_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/oas_security_gen.go
  internal/census-management-go/oas_server_gen.go
  internal/census-management-go/oas_validators_gen.go
  internal/census-management-go/ogen_get.go
  internal/census-management-go/ogen_nil_string.go
  internal/census-management-go/ogen_opt_nil_string.go
  internal/census-management-go/ogen_opt_string.go
  internal/census-management-go/openapi.yml
  internal/census-management-go/testing/handler.go
  internal/census-management-go/testing/handler_source.go
  internal/census-management-go/testing/source.go
  internal/provider/diags_must_test.go
  internal/provider/provider.go
  internal/provider/provider_testing_test.go
  internal/provider/source_model.go
  internal/provider/source_model_request.go
  internal/provider/source_model_response.go
  internal/provider/source_resource.go
  internal/provider/source_resource_schema.go
  internal/provider/source_resource_test.go
  internal/provider/testdata/TestAccSourceResourceCreateUpdateDelete/1/main.tf
  internal/provider/testdata/TestAccSourceResourceCreateUpdateDelete/2/main.tf
  internal/provider/testdata/TestAccSourceResourceImport/main.tf
  internal/provider/testdata/TestAccSourceResourceImportNotFound/main.tf
Due: census-management-go, provider

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

chore(github/workflows/test): remove invalid strategy configuration
  .github/workflows/test.yml
Due: none

chore(census-management-go): declare api spec as openapi 3.1.0
  internal/census-management-go/openapi.yml
Due: census-management-go

feat(provider): introduce source resource
  .github/workflows/test.yml
  docs/resources/source.md
  examples/resources/censusworkspace_source/import.sh
  examples/resources/censusworkspace_source/resource.tf
  go.mod
  go.sum
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_handlers_gen.go
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_operations_gen.go
  internal/census-management-go/oas_parameters_gen.go
  internal/census-management-go/oas_request_decoders_gen.go
  internal/census-management-go/oas_request_encoders_gen.go
  internal/census-management-go/oas_response_decoders_gen.go
  internal/census-management-go/oas_response_encoders_gen.go
  internal/census-management-go/oas_router_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/oas_security_gen.go
  internal/census-management-go/oas_server_gen.go
  internal/census-management-go/oas_validators_gen.go
  internal/census-management-go/ogen_get.go
  internal/census-management-go/ogen_nil_string.go
  internal/census-management-go/openapi.yml
  internal/census-management-go/testing/handler.go
  internal/census-management-go/testing/handler_source.go
  internal/census-management-go/testing/source.go
  internal/provider/diags_must_test.go
  internal/provider/provider.go
  internal/provider/provider_testing_test.go
  internal/provider/source_model.go
  internal/provider/source_model_request.go
  internal/provider/source_model_response.go
  internal/provider/source_resource.go
  internal/provider/source_resource_schema.go
  internal/provider/source_resource_test.go
  internal/provider/testdata/TestAccSourceResourceCreateUpdateDelete/main.tf
  internal/provider/testdata/TestAccSourceResourceCreateUpdateDelete/vars.tf
  internal/provider/testdata/TestAccSourceResourceImport/main.tf
  internal/provider/testdata/TestAccSourceResourceImportNotFound/main.tf
Due: census-management-go, provider

feat(census-management-go): introduce ogen opt nil tools
  internal/census-management-go/ogen_get.go
  internal/census-management-go/ogen_nil_string.go
  internal/census-management-go/ogen_opt_nil_string.go
  internal/census-management-go/ogen_opt_string.go
Due: census-management-go

chore: configure golangci-lint
  .golangci.yml
  internal/census-management-go/ogen_get.go
  internal/census-management-go/ogen_nil_string.go
  internal/census-management-go/testing/error.go
  internal/census-management-go/testing/handler_api_v1.go
  internal/census-management-go/testing/handler_error.go
  internal/census-management-go/testing/handler_source.go
  internal/census-management-go/testing/security_handler.go
  internal/census-management-go/testing/server.go
  internal/census-management-go/testing/server_test.go
  internal/census-management-go/testing/source.go
  internal/census-management-go/workspace_api_key_security_source.go
  internal/provider/http_client_user_agent.go
  internal/provider/provider.go
  internal/provider/provider_data.go
  internal/provider/provider_testing_test.go
  internal/provider/source_model_response.go
  internal/provider/source_resource.go
  internal/provider/source_resource_test.go
Due: census-management-go, provider

chore: configure goreleaser
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

chore(github/workflows): pin actions to release commits
  .github/workflows/go-dependency-submission.yml
  .github/workflows/go-generate.yml
  .github/workflows/golangci.yml
  .github/workflows/test.yml
  .github/workflows/update-indirect-dependencies.yml
Due: none

Path conditions:
  census-management-go: any of: internal/census-management-go/**, but not: main.go, internal/census-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/census-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/census-management-go/*_gen.go
