Repository cysp/terraform-provider-censusworkspace: changes, and which Codecov flags are due for each by the changed paths.
All: census-management-go, provider, terraform-plugin-framework-reflection

document(provider): describe schema fields
  docs/index.md
  docs/resources/big_query_destination.md
  docs/resources/big_query_source.md
  docs/resources/braze_destination.md
  docs/resources/custom_api_destination.md
  docs/resources/destination.md
  docs/resources/source.md
  docs/resources/sql_dataset.md
  internal/provider/big_query_destination_resource_schema.go
  internal/provider/big_query_source_resource_schema.go
  internal/provider/braze_destination_resource_schema.go
  internal/provider/custom_api_destination_resource_schema.go
  internal/provider/destination_base.go
  internal/provider/provider.go
  internal/provider/source_base.go
  internal/provider/sql_dataset_resource_schema.go
Due: provider

feat(provider): implement write-only private state verifiers
  go.mod
  internal/provider/credential_resolvers.go
  internal/provider/write_only_credentials.go
Due: provider

feat(provider/braze_destination): implement write-only credentials
  docs/resources/braze_destination.md
  internal/provider/braze_destination_credential_resolvers.go
  internal/provider/braze_destination_model.go
  internal/provider/braze_destination_resource.go
  internal/provider/braze_destination_resource_schema.go
  internal/provider/braze_destination_resource_test.go
Due: provider

feat(provider/big_query_destination): implement write-only credentials
  docs/resources/big_query_destination.md
  internal/provider/big_query_destination_credential_resolvers.go
  internal/provider/big_query_destination_model.go
  internal/provider/big_query_destination_resource.go
  internal/provider/big_query_destination_resource_schema.go
  internal/provider/big_query_destination_resource_test.go
Due: provider

feat(provider/big_query_source): implement write-only credentials
  docs/resources/big_query_source.md
  internal/provider/big_query_source_credential_resolvers.go
  internal/provider/big_query_source_model.go
  internal/provider/big_query_source_resource.go
  internal/provider/big_query_source_resource_schema.go
  internal/provider/big_query_source_resource_test.go
  internal/provider/source_resource_test.go
Due: provider

feat(provider/custom_api_destination): implement write-only credentials
  docs/resources/custom_api_destination.md
  internal/provider/custom_api_destination_connection_details_response.go
  internal/provider/custom_api_destination_connection_details_response_test.go
  internal/provider/custom_api_destination_credential_resolvers.go
  internal/provider/custom_api_destination_credentials.go
  internal/provider/custom_api_destination_model.go
  internal/provider/custom_api_destination_resource.go
  internal/provider/custom_api_destination_resource_schema.go
  internal/provider/custom_api_destination_resource_test.go
  internal/provider/write_only_credentials_test.go
Due: provider

fix(source): require canonical source names
  docs/resources/big_query_source.md
  docs/resources/source.md
  examples/resources/censusworkspace_big_query_source/resource.tf
  examples/resources/censusworkspace_source/resource.tf
  internal/census-management-go/testing/source.go
  internal/census-management-go/testing/source_test.go
  internal/census/source_name.go
  internal/census/source_name_test.go
  internal/provider/big_query_source_resource_test.go
  internal/provider/source_base.go
  internal/provider/source_name_validator.go
  internal/provider/source_resource_test.go
  internal/provider/testdata/TestAccBigQuerySourceResourceImport/main.tf
  internal/provider/testdata/TestAccSourceResourceImport/main.tf
  internal/provider/testdata/TestAccSourceResourceSyncEngineAppearing/main.tf
Due: census-management-go, provider

chore: regenerate Census client for ogen update
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_schemas_gen.go
Due: none

chore(lint): upgrade golangci-lint to 2.13.2
  .github/workflows/golangci.yml
  .golangci-lint-version
  .golangci.yml
  DEVELOPMENT.md
  internal/census-management-go/testing/handler_error.go
  internal/provider/big_query_destination_resource.go
  internal/provider/big_query_source_resource.go
  internal/provider/braze_destination_resource.go
  internal/provider/custom_api_destination_resource.go
  internal/provider/destination_resource.go
  internal/provider/source_resource.go
  internal/provider/sql_dataset_resource.go
  internal/provider/typed_object_type.go
Due: census-management-go, provider

Path conditions:
  census-management-go: any of: internal/census-management-go/**, but not: main.go, internal/census-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/census-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/census-management-go/*_gen.go
