Repository cysp/terraform-provider-censusworkspace: changes, and which Codecov flags are due for each by the changed paths.
All: census-management-go, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: census-management-go
      name: census-management-go
      paths:
        - internal/census-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - "main.go"
  - "internal/census-management-go/*_gen.go"

docs: show example provider configuration
  docs/index.md
  examples/provider/provider.tf
Due: none

ref(provider): remove informational date attributes
  docs/resources/big_query_destination.md
  docs/resources/big_query_source.md
  docs/resources/braze_destination.md
  docs/resources/custom_api_destination.md
  docs/resources/destination.md
  docs/resources/source.md
  docs/resources/sql_dataset.md
  internal/provider/big_query_destination_model_request.go
  internal/provider/big_query_destination_model_response.go
  internal/provider/big_query_source_model_response.go
  internal/provider/braze_destination_model_request.go
  internal/provider/braze_destination_model_response.go
  internal/provider/custom_api_destination_model_response.go
  internal/provider/destination_base.go
  internal/provider/destination_model_response.go
  internal/provider/source_base.go
  internal/provider/source_model_response.go
  internal/provider/sql_dataset_model.go
  internal/provider/sql_dataset_model_response.go
  internal/provider/sql_dataset_resource_schema.go
Due: provider

chore(.github/workflows): use cyspbot-action for dependency updates
  .github/workflows/update-indirect-dependencies.yml
Due: none

chore(github/workflows): update cyspbot action owner
  .github/workflows/update-indirect-dependencies.yml
Due: none

chore(github/workflows): update cyspbot app token action
  .github/workflows/update-indirect-dependencies.yml
Due: none

chore(github/workflows): remove step-security harden-runner
  .github/workflows/go-dependency-submission.yml
  .github/workflows/go-generate.yml
  .github/workflows/golangci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/update-indirect-dependencies.yml
Due: none

ci(golangci): update lint runner
  .github/workflows/golangci.yml
  .golangci.yml
  internal/provider/http_client_user_agent.go
Due: provider

chore(go): use module tool directives
  docs.go
  go.mod
  internal/census-management-go/ogen.go
  tools/tools.go
Due: census-management-go

chore(go): update module version
  go.mod
Due: none

refactor(terraform-plugin-framework-reflection): use struct field iterator
  internal/terraform-plugin-framework-reflection/attribute_types.go
  internal/terraform-plugin-framework-reflection/set_attribute_values.go
Due: terraform-plugin-framework-reflection

chore(golangci): disable deprecated gomodguard
  .golangci.yml
Due: none

feat(source): support source name
  docs/resources/big_query_source.md
  docs/resources/source.md
  examples/resources/censusworkspace_big_query_source/resource.tf
  examples/resources/censusworkspace_source/resource.tf
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/ogen_get.go
  internal/census-management-go/ogen_nil_string.go
  internal/census-management-go/openapi/schemas/source/create.yml
  internal/census-management-go/openapi/schemas/source/data.yml
  internal/census-management-go/openapi/schemas/source/update.yml
  internal/census-management-go/testing/source.go
  internal/provider/big_query_source_model_request.go
  internal/provider/big_query_source_resource_test.go
  internal/provider/source_base.go
  internal/provider/source_model_request.go
  internal/provider/source_model_request_test.go
  internal/provider/source_resource_test.go
  internal/provider/testdata/TestAccBigQuerySourceResourceCreateUpdateDelete/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceCreateUpdateDelete/vars.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceImport/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSource/1/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSource/1/vars.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSource/2/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSource/2/vars.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSourceWithServiceAccountKey/1/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSourceWithServiceAccountKey/1/vars.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSourceWithServiceAccountKey/2/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceMovedFromSourceWithServiceAccountKey/2/vars.tf
  internal/provider/testdata/TestAccSourceResourceCreateUpdateDelete/main.tf
  internal/provider/testdata/TestAccSourceResourceCreateUpdateDelete/vars.tf
  internal/provider/testdata/TestAccSourceResourceImport/main.tf
  internal/provider/testdata/TestAccSourceResourceSyncEngineAppearing/main.tf
Due: census-management-go, provider

ref(provider): extract resource crud orchestration
  internal/provider/crud_orchestration.go
  internal/provider/destination_base.go
  internal/provider/destination_resource.go
  internal/provider/source_base.go
  internal/provider/source_resource.go
  internal/provider/sql_dataset_model.go
  internal/provider/sql_dataset_resource.go
Due: provider

feat(source): add warehouse writeback retention
  docs/resources/big_query_source.md
  docs/resources/source.md
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_request_decoders_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/oas_validators_gen.go
  internal/census-management-go/openapi/schemas/source/create.yml
  internal/census-management-go/openapi/schemas/source/data.yml
  internal/census-management-go/openapi/schemas/source/update.yml
  internal/census-management-go/testing/source.go
  internal/provider/big_query_source_model_request.go
  internal/provider/big_query_source_model_response.go
  internal/provider/big_query_source_resource_test.go
  internal/provider/source_base.go
  internal/provider/source_model_request.go
  internal/provider/source_model_response.go
  internal/provider/source_resource_test.go
  internal/provider/testdata/TestAccBigQuerySourceResourceCreateUpdateDelete/main.tf
  internal/provider/testdata/TestAccBigQuerySourceResourceCreateUpdateDelete/vars.tf
  internal/provider/testdata/TestAccSourceResourceCreateUpdateDelete/main.tf
  internal/provider/testdata/TestAccSourceResourceCreateUpdateDelete/vars.tf
Due: census-management-go, provider

feat(provider/sql-dataset): omit managed timestamp metadata
  docs/resources/sql_dataset.md
  internal/provider/sql_dataset_model.go
  internal/provider/sql_dataset_model_response.go
  internal/provider/sql_dataset_resource_schema.go
Due: provider

feat(provider/source): omit managed timestamp metadata
  docs/resources/big_query_source.md
  docs/resources/source.md
  internal/provider/big_query_source_model_response.go
  internal/provider/source_base.go
  internal/provider/source_model_response.go
  internal/provider/source_resource_test.go
Due: provider

feat(provider/source): omit connection test status
  docs/resources/big_query_source.md
  docs/resources/source.md
  internal/provider/big_query_source_model_response.go
  internal/provider/big_query_source_resource_test.go
  internal/provider/source_base.go
  internal/provider/source_model_response.go
  internal/provider/source_resource_test.go
Due: provider

feat(provider/destination): omit connection test status
  docs/resources/big_query_destination.md
  docs/resources/braze_destination.md
  docs/resources/custom_api_destination.md
  docs/resources/destination.md
  internal/provider/big_query_destination_model_request.go
  internal/provider/big_query_destination_model_response.go
  internal/provider/big_query_destination_resource_test.go
  internal/provider/braze_destination_model_request.go
  internal/provider/braze_destination_model_response.go
  internal/provider/braze_destination_resource_test.go
  internal/provider/custom_api_destination_model_response.go
  internal/provider/custom_api_destination_resource_test.go
  internal/provider/destination_base.go
  internal/provider/destination_model_response.go
  internal/provider/destination_resource_test.go
Due: provider

feat(provider/destination): omit managed timestamp metadata
  docs/resources/big_query_destination.md
  docs/resources/braze_destination.md
  docs/resources/custom_api_destination.md
  docs/resources/destination.md
  internal/provider/big_query_destination_model_response.go
  internal/provider/braze_destination_model_response.go
  internal/provider/custom_api_destination_model_response.go
  internal/provider/destination_base.go
  internal/provider/destination_model_response.go
Due: provider

dataset refresh columns action
  docs/actions/dataset_refresh_columns.md
  internal/provider/dataset_refresh_columns_action.go
  internal/provider/dataset_refresh_columns_action_model.go
  internal/provider/dataset_refresh_columns_action_schema.go
  internal/provider/provider.go
  internal/provider/set_provider_data.go
Due: provider

feat(census-management-go): support refreshing dataset columns
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_handlers_gen.go
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_operations_gen.go
  internal/census-management-go/oas_parameters_gen.go
  internal/census-management-go/oas_response_decoders_gen.go
  internal/census-management-go/oas_response_encoders_gen.go
  internal/census-management-go/oas_router_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/oas_security_gen.go
  internal/census-management-go/oas_server_gen.go
  internal/census-management-go/openapi/openapi.yml
  internal/census-management-go/openapi/responses/dataset.yml
  internal/census-management-go/testing/handler.go
  internal/census-management-go/testing/handler_dataset_refresh.go
Due: census-management-go

document(provider): describe schema fields
  docs/index.md
  docs/resources/big_query_destination.md
  docs/resources/big_query_source.md
  docs/resources/braze_destination.md
  docs/resources/custom_api_destination.md
  docs/resources/destination.md
  docs/resources/source.md
  docs/resources/sql_dataset.md
  internal/provider/big_query_destination_resource_schema.go
  internal/provider/big_query_source_resource_schema.go
  internal/provider/braze_destination_resource_schema.go
  internal/provider/custom_api_destination_resource_schema.go
  internal/provider/destination_base.go
  internal/provider/provider.go
  internal/provider/source_base.go
  internal/provider/sql_dataset_resource_schema.go
Due: provider
