Repository cysp/terraform-provider-censusworkspace: changes, and which Codecov flags are due for each by the changed paths.
All: census-management-go, provider, terraform-plugin-framework-reflection

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

ref(census-management-go): replace singular one-of constructs with any-of
  internal/census-management-go/openapi.yml
Due: census-management-go

chore(github/workflows): test on terraform 1.13
  .github/workflows/test.yml
Due: none

fix(provider): set resource identities
  internal/provider/big_query_destination_resource.go
  internal/provider/big_query_destination_resource_schema.go
  internal/provider/big_query_source_resource.go
  internal/provider/big_query_source_resource_schema.go
  internal/provider/braze_destination_resource.go
  internal/provider/braze_destination_resource_schema.go
  internal/provider/custom_api_destination_resource.go
  internal/provider/custom_api_destination_resource_schema.go
  internal/provider/destination_resource.go
  internal/provider/destination_resource_schema.go
  internal/provider/import_state.go
  internal/provider/source_resource.go
  internal/provider/source_resource_schema.go
  internal/provider/sql_dataset_resource.go
  internal/provider/sql_dataset_resource_schema.go
Due: provider

feat(census-management-go): support refreshing dataset columns
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_handlers_gen.go
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_operations_gen.go
  internal/census-management-go/oas_parameters_gen.go
  internal/census-management-go/oas_response_decoders_gen.go
  internal/census-management-go/oas_response_encoders_gen.go
  internal/census-management-go/oas_router_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/oas_security_gen.go
  internal/census-management-go/oas_server_gen.go
  internal/census-management-go/openapi.yml
  internal/census-management-go/testing/handler.go
  internal/census-management-go/testing/handler_dataset_refresh.go
Due: census-management-go

dataset refresh columns action
  docs/actions/dataset_refresh_columns.md
  internal/provider/dataset_refresh_columns_action.go
  internal/provider/dataset_refresh_columns_action_model.go
  internal/provider/dataset_refresh_columns_action_schema.go
  internal/provider/provider.go
  internal/provider/set_provider_data.go
Due: provider

feat(census-management-go): implement sync management
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_handlers_gen.go
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_operations_gen.go
  internal/census-management-go/oas_parameters_gen.go
  internal/census-management-go/oas_request_decoders_gen.go
  internal/census-management-go/oas_request_encoders_gen.go
  internal/census-management-go/oas_response_decoders_gen.go
  internal/census-management-go/oas_response_encoders_gen.go
  internal/census-management-go/oas_router_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/oas_security_gen.go
  internal/census-management-go/oas_server_gen.go
  internal/census-management-go/oas_validators_gen.go
  internal/census-management-go/openapi.yml
  internal/census-management-go/testing/handler.go
  internal/census-management-go/testing/handler_sync.go
  internal/census-management-go/testing/sync.go
Due: census-management-go

oai
  internal/census-management-go/sync.openapi.yml
Due: census-management-go

hack
  internal/census-management-go/oas_client_gen.go
  internal/census-management-go/oas_handlers_gen.go
  internal/census-management-go/oas_json_gen.go
  internal/census-management-go/oas_request_decoders_gen.go
  internal/census-management-go/oas_request_encoders_gen.go
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/oas_server_gen.go
  internal/census-management-go/oas_validators_gen.go
  internal/census-management-go/openapi.yml
  internal/census-management-go/sync.openapi.yml
  internal/census-management-go/testing/handler_sync.go
  internal/census-management-go/testing/sync.go
Due: census-management-go

provider sync
  docs/resources/sync.md
  internal/census-management-go/ogen_nil_string.go
  internal/provider/provider.go
  internal/provider/sync_model.go
  internal/provider/sync_model_request.go
  internal/provider/sync_model_response.go
  internal/provider/sync_resource.go
  internal/provider/sync_resource_schema.go
Due: census-management-go, provider

ref(census-management-go): split openapi schema
  internal/census-management-go/oas_schemas_gen.go
  internal/census-management-go/ogen.go
  internal/census-management-go/ogen.yml
  internal/census-management-go/openapi.yml
  internal/census-management-go/openapi/openapi.yml
  internal/census-management-go/openapi/responses/dataset.yml
  internal/census-management-go/openapi/responses/destination.yml
  internal/census-management-go/openapi/responses/id.yml
  internal/census-management-go/openapi/responses/source.yml
  internal/census-management-go/openapi/responses/status.yml
  internal/census-management-go/openapi/schemas/dataset/create.yml
  internal/census-management-go/openapi/schemas/dataset/data.yml
  internal/census-management-go/openapi/schemas/dataset/sql/create.yml
  internal/census-management-go/openapi/schemas/dataset/sql/data.yml
  internal/census-management-go/openapi/schemas/dataset/sql/update.yml
  internal/census-management-go/openapi/schemas/dataset/update.yml
  internal/census-management-go/openapi/schemas/destination/create.yml
  internal/census-management-go/openapi/schemas/destination/data.yml
  internal/census-management-go/openapi/schemas/destination/update.yml
  internal/census-management-go/openapi/schemas/response-status.yml
  internal/census-management-go/openapi/schemas/source/create.yml
  internal/census-management-go/openapi/schemas/source/data.yml
  internal/census-management-go/openapi/schemas/source/update.yml
Due: census-management-go

chore(github/workflows): use cyspbot to update indirect dependencies
  .github/workflows/update-indirect-dependencies.yml
Due: none

chore(github/workflows): detect go version
  .github/workflows/update-indirect-dependencies.yml
Due: none

ref(provider): rationalise error detail extraction
  internal/provider/big_query_destination_resource.go
  internal/provider/big_query_source_resource.go
  internal/provider/braze_destination_resource.go
  internal/provider/custom_api_destination_resource.go
  internal/provider/destination_resource.go
  internal/provider/error_detail.go
  internal/provider/provider.go
  internal/provider/source_resource.go
  internal/provider/sql_dataset_resource.go
Due: provider

Path conditions:
  census-management-go: any of: internal/census-management-go/**, but not: main.go, internal/census-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/census-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/census-management-go/*_gen.go
